@import "tailwindcss";

@theme {
    --breakpoint-3xl: 1920px;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-sky-300;
}